/* General syle */

body{
    background: linear-gradient(#baffe0, #adffa5);
    min-height: 1024px;
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
    text-align: justify;
}

/* Style Header */

header a{
    position: absolute;
    left: -1000px
}

header a:focus{
    position: static;
}

header{
    background: #00ff88;
    border: #000000 solid 1px;
    text-align: center;
}

h1{
    color: #000000;
    font-family: cookie, sans-serif;
    font-size: 3.5em;
    margin: 0;
    padding: 10px;
}

/* Style Navigation bar */

nav ul{
    display: flex;
    background-image: url(../images/bio_background_expanded.jpeg);
    background-size: cover;
    background-position: center 30%;
    justify-content: space-evenly;
    list-style: none;
    padding: 20px;
}

nav a{
    text-decoration: none;
    background-color: #2bf52b;
    color: #000000;
    border: #000000 solid 1px;
    border-radius: 5px;
    padding: 7px;
    text-decoration: none;
    font-weight: 600;
    line-height: 70px;
    transition: color 1s, background-color 1s;
}

nav a:hover, nav a:focus{
    background-color: #0c8d00;
    color: #ffffff;
}

/* Style Main content */

h2{
    font-size: 2em;
    margin: 9px;
    margin-bottom: 17px;
}

main{
    padding: 10px;
    font-size: 1.1em;
}

main p{
    line-height: 1.3em;
    padding: 5px;
}

/* First section as introduction to the topic */

#introduction{
    display: grid;
    grid-template-columns: 49% 43%;
    justify-content: space-between;
    margin: 15px;
}

#introduction ul{
    list-style: square;
}

.reference{
    display: block;
    text-align: right;
    margin-bottom: 7px;
}

#myself{
    width: 70%;
    max-width: 400px;
    border: #00ccff groove 10px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #b1ffff;
}

#introduction img{
    width: 90%;
    border: #00ccff groove 10px;
    padding: 5px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #b1ffff;
}

/* Style of the complementary figure */

figure{
    padding: 10px;
    border: #000000 solid 2px;
}

figcaption{
    font-size: 0.9em;
    margin: 10px;
}

/* Secondary information related to the main topic */

h3{
    line-height: 1.7em;
    font-size: 1.7em;
    margin: 0 20px;
    display: block;
    text-align: center; 
    text-decoration: underline;
}

/* Style for the gallery of the main page */

#gallery{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1.3em;
}

#gallery img{
    width: 90%;
    border: #0053c0 groove 6px;
    margin: 0 auto;
}

#gallery figure{
    width: 430px;
    margin: 5px auto;
}

/* Variation for the informative pages */

#topics{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-evenly;
    font-size: .9em;
}

#topics section{
    border: #000000 solid 2px;
    padding: 4px;
}

#topics h3{
    text-decoration: none;
    line-height: normal;
    font-size: 1.2em;
    margin: 5px;
}
